@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

p h1 h2{
    font-family: 'Space Mono', monospace;
}

main{
  margin-top:10px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  
}

main div{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction:column;
  max-width:80%;
  padding:5px;
  border:1px solid black;
  margin-top:10px;
  background-color:aliceblue;
}

header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  h1 {
    margin: 0; 
  }
  
  nav ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
  }
  
  nav li {
    list-style: none; 
    margin-right: 20px; 
  }
  
  nav a {
    color: #fff; 
    text-decoration: none; 
  }

footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color:#333;
    padding:10px;
    margin-top: 10px
  }
  
footer p{
    color:white;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    padding:5px;
  }
.rightimg{
    display:none;
  }

footer a{
    color:white;
}
#contact{
    display:block
  }
.logo{
    max-width:100px;
    max-height:100px;
    
  }

@media screen and (min-width: 1000px){
    .rightimg{
      display:flex;
    }
}