
header {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  h1 {
    margin: 0; 
  }
  
  nav ul {
    margin: 0; 
    padding: 0; 
    display: flex; 
  }
  
  nav li {
    list-style: none; 
    margin-right: 20px; 
  }
  
  nav a {
    color: #fff; 
    text-decoration: none; 
  }


form fieldset{
    padding: .5rem 3%;
    margin: 10px auto;
    border: 2px solid;
    border-radius: 15px;
    width:30%
}

form legend{
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display:block;
    padding-top:.5rem;
    font-size:.8rem;
}

form label.top input{
    display:block;
    font-size:1rem;
    border: 1px solid;
    border-radius: 4px;
    padding: 0.75rem;
    width: 100%;
    max-width: 20rem;
}

form input.submitBtn{
    border: none;
    background-color: grey;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 3%;
    width: 96%;
    max-width: 20rem;
}


footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    background-color:aliceblue;
    padding:10px;
    
  }
  
  footer p{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:center;
    padding:5px;
  }
  .rightimg{
    display:none;
  }
  
  
  #contact{
    display:block
  }
  .logo{
    max-width:100px;
    max-height:100px;
    
  }

  @media screen and (min-width: 1000px){
    .rightimg{
      display:flex;
    }
      }