.cardss {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    text-align: center;
    color:#7BB2D9;
}

/* #cardss {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

section{
    border: 2px solid #7BB2D9;
        background-color: #000000;

    padding:30px;
    width:300px;
    margin:20px;
}

.cardss img{
    background-color:#9E9577;
    width: 90%;
    box-shadow: 10px 20px 30px black;
}
.cardss h2{
    width: 95%;
}
#view{
    text-align: center;
    font-size: 3em;
}
#cards, #list {
    border: 3px solid black;
    padding: 0 8px;
    cursor: pointer;
}


.table{
    display: none;
}

table{
    display: none;
    width: 75%;
    margin: 50px auto;
    font-size: 1.2em;
}

td{
    padding: 5px;
    display: block;
}

tr:nth-of-type(even){
    background-color: grey;
}


/* display: table-cell; */


main{
    display:block;
}