main {
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 750px){
    img:hover {
        opacity:1;
        transition: 1s ease;
    }
    
}