a {
    color: navy;
}

li {
    list-style-type: circle;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;

}
p{
    font-size: medium;
}
.cheese {
    display:grid;
    align-self: center;
    text-align: center;
    grid-template-columns: auto 250px auto;
    background-color: darkorange;
    justify-content: center;

  }
main {
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* header{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 } */
img{
    height: 100%;
    width: 100px;
    margin-left: 10px;
    border-radius: 20px;
} 
h1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.food{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
}
li{
    font-size: large;
}
.burger{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkorange;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* body > header {
    position: fixed;
    top: 0;
  }
  body > footer {
    position: fixed;
    bottom: 0;
  } */
  